
.suggestions-cont {
    margin-bottom: 10px;
    
    .cont-header {
        display: flex;
        justify-content: space-between;

        span{
            a{
                color: black;
                font-size: 12px;
            }
        }
    }

    .Suggestions-data {

        // hare
        


    }

}