

.auth-footer-cont {
    max-width: 935px;
    margin: auto;

    // background-color: aqua;
    margin-top: 15px;
    .meta-service , .media-service {
        
        

        ul {
            
            display: flex;
            justify-content: center;
            gap: 16px;
            padding-left: 0;
            flex-wrap: wrap;
            
            li {
                // display: inline;
                
                margin: -2px 0 -3px;
                a {
                    width: max-content;
                    display: block;
                    color: rgba(145, 145, 145, 1);
                    font-weight: 400;
                    line-height: 16px;
                    
                }
            }
        }

    }

}


.auth-footer-copyRight {
    display:flex ;
    justify-content: center;
    color: rgba(145, 145, 145, 1);
    font-weight: 400;
    margin-bottom: 10px;

    .lang  {
        position: relative;
        
        width: 55px;

        .face {
            position: absolute;
            text-align: center;
            width: fit-content;
            display: block;

        }
        .languages {
            opacity: 0;
            width: 100%;
            margin-right: 8px;
            border: none;
            background-color: transparent;
        }
        
    }
    .right{
        margin-left: 15px;
    }


}