

.post-container {
    width: 100%;
    height: auto;
    padding-top: 5px 0;

    

    .post-items{
        width: 100%;
        margin: 10px 0;
        // margin-top: 10px ;
        height: max-content;
        border: 1px solid rgba(219, 219, 219, 1);
        border-radius: 7px;

        .post-header {

            .post-header-cont {
                
                height: 58px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                position: relative;
                align-items: center;
                margin-left: 5px;
            
                .user-box {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    // background-color: green;
         
    
                    
                    .user-Imge-box{
                        
                        width: 42px;
                        height: 42px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: url('../FlowingUsers/download.png');
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
    
                        .user-Imge {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            
                            
                        }
                    }
                    .user-tex-box {
                        margin-left: 5px;
    
                        .u-name {
    
                            span{
    
                            }
                        }
                        .user-data {
                            span{
    
                            }
                        }
                    }
    
                }
              
            }
            .menu-box {

                width: 57px;
                text-align: right;
                margin-right: 5px;

                
                button{
                    border: none;
                    background-color: transparent;
                    border-radius: 50%;
                    height: 42px;
                        width: 42px;
                    svg{
                        
                        font-size: 20px;
                    }
                }
            }
        }

        .post-media-con {


            width: 100%;



            img{
               
                width: 100%;
                
            }

        }
        .post-content-con {
            height: 150px;

            

            .action-box {
                display: flex;
                justify-content: space-between;

                .content-left {
                    width: 42%;

                    ul {
                        margin: 0;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        padding: 10px 0;


                        li{

                            margin-left: 8px;
                            svg {
                                color: #3f3f3f;
                            }
                        }
                    }
                }
                .content-medile {
                    width: 16%;
                }
                .content-end {
                    width: 42%;
                    display: flex;
                    justify-content: end;
          
                    align-items: center;
                    

                    svg{
                        margin-right: 5px;
                        color: #3f3f3f;
                    }
                }
            }




            //  heare

        }
        .post-footer {

            height: 58px;
            background-color: #37b2c2;
        }
    }


}