
.site-header {
    position: relative;
    


    .site-header-box {
        position: fixed;
        width: 100%;
        background: #fff;

    }

}


.site-content {
    display: flex;
    justify-content: center;
    

    
    .post-aria-box,.suggestion-aria-box {
        .header-space-div{ margin-top: 60px;}
    }
    .post-aria-box {
        margin-top: 10px;
        width: 562px;
        height: 1300px;
        margin-right: 32px;
        background-color: rgb(235, 232, 217);

        .flowing-users{
            border: 1px solid rgba(219, 219, 219, 1);
            padding: 10px 0;
            border-radius: 10px;
            overflow: hidden;
            // margin-top: 5px;

            .user-box {
                display: flex;
                flex-direction: row;
                margin-top: 5px;

                .user-box-items{
                    width: 76px;
                    margin-left: 16px;
                    
                    
                    a{
                        color: rgb(59, 59, 59);
                        
                        

                        .img-wrapar {
                            height: 76px;
                            width: 76px;
                            border: 3px solid #db2ecf;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 5px;


                            img{
                                width: 68px;
                                height: 68px;
                                border-radius: 50%;
                            }

                        }
                        
                        .user-name {
                            
                            box-sizing: border-box;
                            display: block;
                            max-width: 76px;
                            overflow: hidden;
                            position: relative;
                            text-align: center;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 78px;
                            font-size: 14px;
                            
                        }
                    }
                }

               
            }
        }

    }
    .suggestion-aria-box {
        margin-top: 10px;
        width: 400px;
        height: 300px;
        background-color: rgb(95, 87, 44);
    }
}