// @import form url('./download.png');



.site-header {
    position: relative;
    z-index: 9;
    


    .site-header-box {
        position: fixed;
        width: 100%;
        background: #fff;

    }

}


.site-content {
    display: flex;
    justify-content: center;
    

    
    .post-aria-box,.suggestion-aria-box {
        .header-space-div{ margin-top: 60px;}
    }
    .post-aria-box {
        margin-top: 10px;
        width: 470px;
        // height: 1300px;
        margin-right: 32px;


        

    }
    .suggestion-aria-box {
        margin-top: 10px;
        width: 320px;
        height: 300px;
        background-color: rgb(95, 87, 44);



    }
}